<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Service Entry</strong>
        </div>
        <div class="card-body">
          
          <form [formGroup]="fGroup" (ngSubmit)="submit()">

            <div class="form-group row">

              <label for="doc" class="col-sm-2 col-form-label">Sl No:</label>

              <div class="col-sm-6">

                <input type="text" class="form-control" formControlName="sl_no" readonly>
                
              </div>
            
            </div>

            <div class="form-group row">

              <label for="date" class="col-sm-2 col-form-label">Date:</label>

              <div class="col-sm-6">

                <input type="date" class="form-control" formControlName="date">
                
              </div>

              <div class="col-sm-4">
                <div style="color:red;" *ngIf="fGroup.controls.date.hasError('required') && fGroup.controls['date'].touched ">This Field id Required</div>
              </div>
            
            </div>

            <div class="form-group row">

              <label for="date" class="col-sm-2 col-form-label">Type:</label>

              <div class="col-sm-6">

                <select class="form-control" formControlName="trans_type" (click)="clicked()">
                  <option value="I">In</option>
                  <option value="O">Out</option>
                </select>
                
              </div>

              <div class="col-sm-4">
                <div style="color:red;" *ngIf="fGroup.controls.trans_type.hasError('required') && fGroup.controls['trans_type'].touched ">This Field id Required</div>
              </div>
            
            </div>


            <div class="form-group row" *ngIf="flag">

              <label class="col-sm-2 col-form-label">DOC No:</label>

              <div class="col-sm-6">

                <input type="text" class="form-control" formControlName="doc_no">
                
              </div>
            
            </div>

            <div class="form-group row">

              <label  class="col-sm-2 col-form-label">Name:</label>

              <div class="col-sm-6">

                <select class="form-control" formControlName="cname">

                  <option [value]="list.sl_no" *ngFor="let list of clients">{{list.client_name}}</option>

                </select>
                
              </div>

              <div class="col-sm-4">
                <div style="color:red;" *ngIf="fGroup.controls.cname.hasError('required') && fGroup.controls['cname'].touched ">This Field id Required</div>
              </div>
            
            </div>

            <div class="form-group row">

              <label for="item" class="col-sm-2 col-form-label">Item:</label>

              <div class="col-sm-6">

                <select class="form-control" formControlName="item">

                  <option [value]="list.sl_no" *ngFor="let list of items">{{list.item_name}}</option>

                </select>
                
              </div>

              <div class="col-sm-4">
                <div style="color:red;" *ngIf="fGroup.controls.item.hasError('required') && fGroup.controls['item'].touched ">This Field id Required</div>
              </div>
            
            </div>

            <div class="form-group row">

              <label  class="col-sm-2 col-form-label">Courier:</label>

              <div class="col-sm-6">

                <select class="form-control" formControlName="comp">

                  <option [value]="list.sl_no" *ngFor="let list of comps">{{list.name}}</option>

                </select>
                
              </div>

              <div class="col-sm-4">
                <div style="color:red;" *ngIf="fGroup.controls.comp.hasError('required') && fGroup.controls['comp'].touched ">This Field id Required</div>
              </div>
            
            </div>

            <div class="form-group row">

              <label class="col-sm-2 col-form-label">Phone No:</label>

              <div class="col-sm-6">

                <input type="text" class="form-control" formControlName="phn_no">
                
              </div>

              <div class="col-sm-4">
                
                <div style="color:red;" *ngIf="fGroup.controls.phn_no.hasError('pattern') ">Numbers Only</div>
                <div style="color:red;" *ngIf="fGroup.controls.phn_no.hasError('minlength') ">Min Lenght 10</div>
                <div style="color:red;" *ngIf="fGroup.controls.phn_no.hasError('maxlength') ">Max Lenght 10</div>

              </div>
            
            </div>

            <div class="form-group row">

              <label class="col-sm-2 col-form-label">Received/Send By:</label>

              <div class="col-sm-6">

                <input type="text" class="form-control" formControlName="receiver_or_sender">
                
              </div>

              <div class="col-sm-4">
                <div style="color:red;" *ngIf="fGroup.controls.receiver_or_sender.hasError('required') && fGroup.controls['receiver_or_sender'].touched ">This Field id Required</div>
              </div>
            
            </div>

            <div class="form-group row">

              <label class="col-sm-2 col-form-label">Remarks:</label>

              <div class="col-sm-6">

                <textarea cols="30" rows="5" class="form-control" formControlName="remarks" ></textarea>
                
              </div>

              <div class="col-sm-4">
                <div style="color:red;" *ngIf="fGroup.controls.remarks.hasError('required') && fGroup.controls['remarks'].touched ">This Field id Required</div>
              </div>
            
            </div>

            <div class="form-group row">
                <div class="col-sm-6">

                  <button class="btn btn-primary" [disabled]="!fGroup.valid">Submit</button>
                  
                </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>